.mod-manager-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
}

.left-section, .right-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-right: 1px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.header {
    flex-shrink: 0;
}

.mod-list-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 10px;
}

.right-section {
    overflow-y: auto;
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: 2px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
